extends ../layouts/default

block content
    h1(class='mB20') WebSocket Chat
    div(class='row')
        div(class='col-lg-6')
            div(class='input-group')
                input(class='form-control', id='message', type='text')
                span(class='input-group-btn')
                    button(class='btn btn-default', id='update' type='button')
                        コメント
    div#posts

