doctype html5
html(lang="ja")
head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(name='apple-mobile-web-app-capable' content='yes')
    title= title
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/chat.js")
    script(src="/components/enchant.js/enchant.min.js")
    script(src="/js/main2.js")

    style
        body {margin:0;padding:0;}

body
    block content
